.vscode
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
dbconfig.js
.DS_Store
.idea/
upload/
configs.*
public/upload/
unpackage/
build/
manifest.json
.project
dist
dist_ad